body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --dark-color: #2e2f42;
  --primary-brand: #4d5ae5;
  --white-background: #ffffff;
  --light-color: #f4f4fd;
  --cornflower: #e7e9fc;
  --ocean: #404bbf;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-brand);
}
.logo-navy {
  color: var(--dark-color);
}
.logo-footer {
  color: var(--light-color);
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.list-item:hover,
.list-item:focus {
  color: var(--ocean);
  cursor: pointer;
}

.contact-list {
  font-style: normal;
}

.address-list {
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: inherit;
}

.address-list:hover,
.address-list:focus {
  color: var(--ocean);
  cursor: pointer;
}
.main-part {
  background-color: var(--dark-color);
}
.head {
  font-size: 56px;
  font-weight: 900;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background);
}
.main-button {
  background-color: var(--primary-brand);
  color: var(--white-background);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.main-button:hover,
.main-button:focus {
  background-color: var(--ocean);
  cursor: pointer;
}

.four-articles {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.article {
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-section {
  background-color: var(--light-color);
}
.team-list {
  background-color: #ffffff;
}

.headings {
  font-size: 36px;
  line-height: 1.11;
  font-family: inherit;
  font-weight: 700;
  color: var(--dark-color);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.footer-item {
  background-color: var(--dark-color);
}

.footer-article {
  color: var(--light-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.button-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background-color: var(--light-color);
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--ocean);
  color: var(--white-background);
  cursor: pointer;
}
